*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hook1{
    text-align: center;
    padding: 30px 0;
    background-color: aliceblue;
}
button{
    padding: 7px 15px;
    margin-top: 8px;
    background-color: palevioletred;
    
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
}

/* Form.jsx css */

.form_div{
    width: 500px;
    padding: 30px;
    background-color: beige;
    margin: 0 auto;
    text-align: center;
}
.form_div *{
    display: block;
    margin: 20px auto;

}

input{
    padding: 7px 17px;
    outline: none;
    text-align: center;
    border: 1px solid black;
    width: 80%;
}